@using ToDoAndBeyond.Enums
@model ProjectsDTO
@{
    ViewData["Title"] = "Projects";
    ViewData["Styling"] = "projects";
}

<main id="project-displayer">
    <h1>Projects</h1>
    <section class="slider">
        @foreach (var projectChunk in Model.ProjectChunks ?? [])
        {
            <section class="slider">
                @foreach (var project in projectChunk ?? [])
                {
                    <button class="project-title-card link-button">
                        <a asp-controller="Projects" asp-route-projectID="@project.ID"
                            asp-route-projectName='@project.Name.Replace(" ", "")'>
                            <span>@(project.Icon ?? "ðŸ”˜")</span>
                            <p>@project.Name.Replace("~", "")</p>
                        </a>
                    </button>
                }
            </section>
        }
    </section>
</main>

@if (Model.Tasks == null)
{
    return;
}

<section id="task-displayer">
    <h1>Tasks</h1>
    <section class="slider">
        @foreach (var task in Model.Tasks ?? [])
        {
            <button class="task-title-card link-button" data-is-starred='@(task.IsStarred ? "â­" : "")'
                style='@(task.Colour != null ? $"--task-colour: {task.Colour};" : "") @(task.ImportanceColour != null ? $"--task-importance-colour: {task.ImportanceColour};" : "")'>
                <a asp-controller="Projects" asp-route-projectID="@Model.SelectedProject?.ID"
                    asp-route-projectName='@Model.SelectedProject?.Name.Replace(" ", "")' asp-route-taskID="@task.ID">
                    <input type="checkbox" checked="@task.IsCompleted">
                    <p>
                        @task.Name
                        <small>@(task.DueTime != null ? $"({task.DueTime?.GetDateTimeFormats()[3]})" : "")</small>
                    </p>
                    <span>@task.ImportanceIcon</span>
                </a>
            </button>
        }
    </section>
</section>

@if (Model.Steps == null)
{
    return;
}

<section id="step-displayer">
    <h1>Steps</h1>
    <section class="slider">
        @foreach (var step in Model.Steps ?? [])
        {
            <button class="step-title-card link-button">
                <a href="#">
                    <input type="checkbox" checked="@step.IsCompleted">
                    <p>@step.Name</p>
                </a>
            </button>
        }
    </section>
</section>